In [35]:
import mysql.connector
cnx = mysql.connector.connect(user='root', database='DM')
cursor = cnx.cursor()

record={}
index=["app","device_id","tick","date","time","device","s_0","s_1","s_2","s_3","s_4","s_d0","s_t0","s_h0","s_d1","gps_lat","gps_lon","gps_num","gps_alt"]
SQLCommand = ("INSERT INTO hw "                 
              "(app, device_id, tick, date, time, device, s_0, s_1, s_2, s_3, s_4, s_d0, s_t0, s_h0, s_d1, gps_lat, gps_lon, gps_num, gps_alt)" 
              "VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)")

f = open('data/data.log-20160918')
for line in f:
    error=0
    for temp in index:
        record[temp]=""
    line=line.strip('\n')
    temp_line=line.split("|")
    for temp in temp_line:
            if(temp.split("=")[0] in index):
                record[temp.split("=")[0]]=temp.split("=")[1]
            if(temp.split("=")[0]=='date' and ( temp.split("=")[1] < "2016-09-18" or temp.split("=")[1] > "2016-09-25") ):
                    error=1

    if(record['date']==""):
        error=1
    Values = [record['app'],record['device_id'],record['tick'],record['date'],record['time'],record['device'],record['s_0'],record['s_1'],record['s_2'],
          record['s_3'],record['s_4'],record['s_d0'],record['s_t0'],record['s_h0'],record['s_d1'],record['gps_lat'],record['gps_lon'],record['gps_num'],record['gps_lat']] 
    
    if (error==0):
        #print (record)
        cursor.execute(SQLCommand,Values) 
        cnx.commit()
    
cursor.close()
cnx.close()

{'s_1': '100', 's_0': '606', 's_3': '0', 's_2': '1', 's_4': '', 's_t0': '30.87', 'gps_lat': '24.113', 'gps_alt': '2', 'app': 'AirBox', 's_d1': '4', 'gps_num': '9', 'device': 'taichung18', 's_d0': '3', 'time': '00:00:26', 'date': '2016-09-18', 's_h0': '81', 'tick': '1474128026', 'gps_lon': '120.622', 'device_id': '74DA3895E070'}